<%- include('partials/logged-in-header') -%>
<div class="container card-container">
  <div class="row justify-content-center">
    <div class="col-6">
      <!-- <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
      <!-- </div> -->
      <div class="mt-5">
        <h2>Add a recipe</h2>
        <form
          action="/post/createPost"
          enctype="multipart/form-data"
          method="POST"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Recipe Title</label>
            <input type="text" class="form-control" id="title" name="title" />
          </div>
          <div class="mb-3">
            <label for="country" class="form-label"
              >Where your recipe comes from</label
            >
            <select
              class="form-select"
              aria-label="Default select example"
              id="country"
              name="country"
            >
              <option value="Afghanistan 🇦🇫">Afghanistan</option>
              <option value="Albania 🇦🇱">Albania</option>
              <option value="Algeria 🇩🇿">Algeria</option>
              <option value="Andorra 🇦🇩">Andorra</option>
              <option value="Angola 🇦🇴">Angola</option>
              <option value="Antigua and Barbuda 🇦🇬">
                Antigua and Barbuda
              </option>
              <option value="Armenia 🇦🇲">Armenia</option>
              <option value="Australia 🇦🇺">Australia</option>
              <option value="Austria 🇦🇹">Austria</option>
              <option value="Azerbaijan 🇦🇿">Azerbaijan</option>
              <option value="Bahamas 🇧🇸">Bahamas</option>
              <option value="Bahrain 🇧🇭">Bahrain</option>
              <option value="Bangladesh 🇧🇩">Bangladesh</option>
              <option value="Barbados 🇧🇧">Barbados</option>
              <option value="Belarus 🇧🇾">Belarus</option>
              <option value="Belgium 🇧🇪">Belgium</option>
              <option value="Belize 🇧🇿">Belize</option>
              <option value="Benin 🇧🇯">Benin</option>
              <option value="Bhutan 🇧🇹">Bhutan</option>
              <option value="Botswana 🇧🇼">Botswana</option>
              <option value="Bulgaria 🇧🇬">Bulgaria</option>
              <option value="Burkina Faso 🇧🇫">Burkina Faso</option>
              <option value="Burundi 🇧🇮">Burundi</option>
              <option value="Cambodia 🇰🇭">Cambodia</option>
              <option value="Cameroon 🇨🇲">Cameroon</option>
              <option value="Canada 🇨🇦">Canada</option>
              <option value="Cape Verde 🇨🇻">Cape Verde</option>
              <option value="Central African Republic 🇨🇫">
                Central African Republic
              </option>
              <option value="Chad 🇹🇩">Chad</option>
              <option value="China 🇨🇳">China</option>
              <option value="Comoros 🇰🇲">Comoros</option>
              <option value="Congo 🇨🇩">Congo</option>
              <option value="Croatia 🇭🇷">Croatia</option>
              <option value="Cyprus 🇨🇾">Cyprus</option>
              <option value="Czech Republic 🇨🇿">Czech Republic</option>
              <option value="Denmark 🇩🇰">Denmark</option>
              <option value="Djibouti 🇩🇯">Djibouti</option>
              <option value="Dominica 🇩🇲">Dominica</option>
              <option value="East Timor 🇹🇱">East Timor</option>
              <option value="Egypt 🇪🇬">Egypt</option>
              <option value="Equatorial Guinea 🇬🇶">Equatorial Guinea</option>
              <option value="Eritrea 🇪🇷">Eritrea</option>
              <option value="Estonia 🇪🇪">Estonia</option>
              <option value="Eswatini 🇸🇿">Eswatini</option>
              <option value="Ethiopia 🇪🇹">Ethiopia</option>
              <option value="Fiji 🇫🇯">Fiji</option>
              <option value="Finland 🇫🇮">Finland</option>
              <option value="France 🇫🇷">France</option>
              <option value="Gabon 🇬🇦">Gabon</option>
              <option value="Gambia 🇬🇲">Gambia</option>
              <option value="Georgia 🇬🇪">Georgia</option>
              <option value="Germany 🇩🇪">Germany</option>
              <option value="Ghana 🇬🇭">Ghana</option>
              <option value="Greece 🇬🇷">Greece</option>
              <option value="Grenada 🇬🇩">Grenada</option>
              <option value="Guinea 🇬🇳">Guinea</option>
              <option value="Guinea-Bissau 🇬🇼">Guinea-Bissau</option>
              <option value="Guyana 🇬🇾">Guyana</option>
              <option value="Haiti 🇭🇹">Haiti</option>
              <option value="Hungary 🇭🇺">Hungary</option>
              <option value="Iceland 🇮🇸">Iceland</option>
              <option value="India 🇮🇳">India</option>
              <option value="Indonesia 🇮🇩">Indonesia</option>
              <option value="Iran 🇮🇷">Iran</option>
              <option value="Iraq 🇮🇶">Iraq</option>
              <option value="Ireland 🇮🇪">Ireland</option>
              <option value="Israel 🇮🇱">Israel</option>
              <option value="Italy 🇮🇹">Italy</option>
              <option value="Jamaica 🇯🇲">Jamaica</option>
              <option value="Japan 🇯🇵">Japan</option>
              <option value="Jordan 🇯🇴">Jordan</option>
              <option value="Kazakhstan 🇰🇿">Kazakhstan</option>
              <option value="Kenya 🇰🇪">Kenya</option>
              <option value="Kiribati 🇰🇮">Kiribati</option>
              <option value="Korea, North 🇰🇵">Korea, North</option>
              <option value="Korea, South 🇰🇷">Korea, South</option>
              <option value="Kosovo 🇽🇰">Kosovo</option>
              <option value="Kuwait 🇰🇼">Kuwait</option>
              <option value="Kyrgyzstan 🇰🇬">Kyrgyzstan</option>
              <option value="Laos 🇱🇦">Laos</option>
              <option value="Latvia 🇱🇻">Latvia</option>
              <option value="Lebanon 🇱🇧">Lebanon</option>
              <option value="Lesotho 🇱🇸">Lesotho</option>
              <option value="Liberia 🇱🇷">Liberia</option>
              <option value="Libya 🇱🇾">Libya</option>
              <option value="Liechtenstein 🇱🇮">Liechtenstein</option>
              <option value="Lithuania 🇱🇹">Lithuania</option>
              <option value="Luxembourg 🇱🇺">Luxembourg</option>
              <option value="Madagascar 🇲🇬">Madagascar</option>
              <option value="Malawi 🇲🇼">Malawi</option>
              <option value="Malaysia 🇲🇾">Malaysia</option>
              <option value="Maldives 🇲🇻">Maldives</option>
              <option value="Mali 🇲🇱">Mali</option>
              <option value="Malta 🇲🇹">Malta</option>
              <option value="Marshall Islands 🇲🇭">Marshall Islands</option>
              <option value="Mauritania 🇲🇷">Mauritania</option>
              <option value="Mauritius 🇲🇺">Mauritius</option>
              <option value="Micronesia 🇫🇲">Micronesia</option>
              <option value="Moldova 🇲🇩">Moldova</option>
              <option value="Monaco 🇲🇨">Monaco</option>
              <option value="Mongolia 🇲🇳">Mongolia</option>
              <option value="Montenegro 🇲🇪">Montenegro</option>
              <option value="Morocco 🇲🇦">Morocco</option>
              <option value="Mozambique 🇲🇿">Mozambique</option>
              <option value="Myanmar 🇲🇲">Myanmar</option>
              <option value="Namibia 🇳🇦">Namibia</option>
              <option value="Nauru 🇳🇷">Nauru</option>
              <option value="Nepal 🇳🇵">Nepal</option>
              <option value="Netherlands 🇳🇱">Netherlands</option>
              <option value="New Zealand 🇳🇿">New Zealand</option>
              <option value="Niger 🇳🇪">Niger</option>
              <option value="Nigeria 🇳🇬">Nigeria</option>
              <option value="North Macedonia 🇲🇰">North Macedonia</option>
              <option value="Norway 🇳🇴">Norway</option>
              <option value="Oman 🇴🇲">Oman</option>
              <option value="Pakistan 🇵🇰">Pakistan</option>
              <option value="Palau 🇵🇼">Palau</option>
              <option value="Palestine 🇵🇸">Palestine</option>
              <option value="Papua New Guinea 🇵🇬">Papua New Guinea</option>
              <option value="Philippines 🇵🇭">Philippines</option>
              <option value="Poland 🇵🇱">Poland</option>
              <option value="Portugal 🇵🇹">Portugal</option>
              <option value="Qatar 🇶🇦">Qatar</option>
              <option value="Romania 🇷🇴">Romania</option>
              <option value="Russia 🇷🇺">Russia</option>
              <option value="Rwanda 🇷🇼">Rwanda</option>
              <option value="Saint Kitts and Nevis 🇰🇳">
                Saint Kitts and Nevis
              </option>
              <option value="Saint Lucia 🇱🇨">Saint Lucia</option>
              <option value="Saint Vincent and the Grenadines 🇻🇨">
                Saint Vincent and the Grenadines
              </option>
              <option value="Samoa 🇼🇸">Samoa</option>
              <option value="San Marino 🇸🇲">San Marino</option>
              <option value="Sao Tome and Principe 🇸🇹">
                Sao Tome and Principe
              </option>
              <option value="Saudi Arabia 🇸🇦">Saudi Arabia</option>
              <option value="Senegal 🇸🇳">Senegal</option>
              <option value="Serbia 🇷🇸">Serbia</option>
              <option value="Seychelles 🇸🇨">Seychelles</option>
              <option value="Sierra Leone 🇸🇱">Sierra Leone</option>
              <option value="Singapore 🇸🇬">Singapore</option>
              <option value="Slovakia 🇸🇰">Slovakia</option>
              <option value="Slovenia 🇸🇮">Slovenia</option>
              <option value="Solomon Islands 🇸🇧">Solomon Islands</option>
              <option value="Somalia 🇸🇴">Somalia</option>
              <option value="South Africa 🇿🇦">South Africa</option>
              <option value="South Sudan 🇸🇸">South Sudan</option>
              <option value="Spain 🇪🇸">Spain</option>
              <option value="Sri Lanka 🇱🇰">Sri Lanka</option>
              <option value="Sudan 🇸🇩">Sudan</option>
              <option value="Suriname 🇸🇷">Suriname</option>
              <option value="Sweden 🇸🇪">Sweden</option>
              <option value="Switzerland 🇨🇭">Switzerland</option>
              <option value="Syria 🇸🇾">Syria</option>
              <option value="Taiwan 🇹🇼">Taiwan</option>
              <option value="Tajikistan 🇹🇯">Tajikistan</option>
              <option value="Tanzania 🇹🇿">Tanzania</option>
              <option value="Thailand 🇹🇭">Thailand</option>
              <option value="Togo 🇹🇬">Togo</option>
              <option value="Tonga 🇹🇴">Tonga</option>
              <option value="Trinidad and Tobago 🇹🇹">
                Trinidad and Tobago
              </option>
              <option value="Tunisia 🇹🇳">Tunisia</option>
              <option value="Turkey 🇹🇷">Turkey</option>
              <option value="Turkmenistan 🇹🇲">Turkmenistan</option>
              <option value="Tuvalu 🇹🇻">Tuvalu</option>
              <option value="Uganda 🇺🇬">Uganda</option>
              <option value="Ukraine 🇺🇦">Ukraine</option>
              <option value="United Arab Emirates 🇦🇪">
                United Arab Emirates
              </option>
              <option value="United Kingdom 🇬🇧">United Kingdom</option>
              <option value="United States 🇺🇸">United States</option>
              <option value="Uruguay 🇺🇾">Uruguay</option>
              <option value="Uzbekistan 🇺🇿">Uzbekistan</option>
              <option value="Vanuatu 🇻🇺">Vanuatu</option>
              <option value="Vatican City 🇻🇦">Vatican City</option>
              <option value="Venezuela 🇻🇪">Venezuela</option>
              <option value="Vietnam 🇻🇳">Vietnam</option>
              <option value="Yemen 🇾🇪">Yemen</option>
              <option value="Zambia 🇿🇲">Zambia</option>
              <option value="Zimbabwe 🇿🇼">Zimbabwe</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="basic-url" class="form-label">Dish Type</label>
            <select
              class="form-select"
              aria-label="Default select example"
              id="dish"
              name="dish"
            >
              <option selected>Please Select</option>
              <option value="Main Dish">Main Dish</option>
              <option value="Side Dish">Side Dish</option>
              <option value="Salsa">Salsa</option>
              <option value="Appetizer">Appetizer</option>
              <option value="Snack">Snack</option>
              <option value="Dessert">Dessert</option>
              <option value="Drink">Drink</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="caption" class="form-label">Description</label>
            <textarea
              class="form-control"
              id="caption"
              name="caption"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="ingredients" class="form-label">Ingredients</label>
            <textarea
              class="form-control"
              id="ingredients"
              name="ingredients"
              placeholder="Put each ingredient on its own line."
              rows="5"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="directions" class="form-label">Directions</label>
            <textarea
              class="form-control"
              id="directions"
              name="directions"
              placeholder="Put each step on its own line."
              rows="5"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input
              type="file"
              class="form-control"
              id="imageUpload"
              name="file"
            />
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">
            Submit
          </button>
        </form>
      </div>
      <div class="row justify-content-center mt-5">
        <a class="btn btn-primary" href="/feed">Return to Feed</a>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
